<div class="it-header-slim-wrapper">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-lg-block navbar-brand" href="/aree/">Aree del sito</a>
          <div class="it-header-slim-right-zone">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Modalità Sito</span>
                <span>Sito</span>
                <svg class="icon d-none d-lg-block"><use href="/assets/icon.svg#it-expand"></use></svg>
              </a>
              <div class="dropdown-menu">
                <div class="row">
                  <div class="col-12">
                    <div class="link-list-wrapper">
                      <ul class="link-list">
                        <li><a class="dropdown-item list-item" href="#"><span>Sito<span class="visually-hidden">selezionata</span></span></a></li>
                        <li><a class="dropdown-item list-item" href="/opac/admin/"><span>Admin</span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-primary btn-icon btn-full">
              <span class="rounded-icon">
                <svg class="icon icon-primary">
                  <use href="/assets/icon.svg#it-user"></use>
                </svg>
              </span>
<!--              <span class="d-none d-lg-block">Accedi all'area personale</span>-->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="it-header-center-wrapper theme-light">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">
            <a href="#">
              <svg class="icon" aria-hidden="true">
                <use href="/assets/icon.svg#it-pa"></use>
              </svg>
              <div class="it-brand-text">
                <div class="it-brand-title">{{ site.title }}</div>
              </div>
            </a>
          </div>
          <div class="it-right-zone">
<svg width="82" height="82" class="icon" aria-hidden="true">       
     <image xlink:href="https://gabrielmatteojones.github.io/jonesread.it/bau.png" width="82" height="82"></image>    
</svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>